/* this is a custom CSS stylesheet */

body {
	padding-top: 70px;
}

footer {
	padding: 2em 0;
	margin: 3em 0;
	border-top: 1px solid #ddd;
	color: #999;
	text-align: center;
}

.splash {
	margin-top: 2em;
	text-align: center;
	color: #aaa;
}
